[Unit]
Description=Conveyor Plan Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=root
ExecStart=/usr/bin/conveyor-plan --config-file /etc/conveyor/conveyor.conf

[Install]
WantedBy=multi-user.target
